.searchBar{
  border-radius: 15px 15px 0px 0px;
  background-color: #3B4448;
  padding: 10px 10px;
  min-height: 40px;
}

.searchButton{
  color: white;
  float:right;
  padding-right: 13px;
  margin-top: 8px;
}
.searchInput{
  height: 25px;
  width: 80%;
  margin-left: 3em;
  padding: 5px;
}
.hide {
  display: none;
  transition:opacity 0.5s linear;
}

.show {
  display: block;
}

.todoTitle{
  color: white;
  font-size: 0.9em;
  margin: 7px;
  position: absolute;
}
